<nav th:fragment="navbarFragment" class="nav-container" th:inline="javascript">

	<a class="navbar-brand" href="/">
		<img th:src="@{/images/applyhome_logo.png}" height="40">
	</a>

	<ul class="nav-menu">
		<li class="nav-item"><a class="nav-link text-white" href="/">홈</a></li>
		<li class="nav-item"><a class="nav-link text-white" href="/notice/list">맞춤공고</a></li>
		<li class="nav-item"><a class="nav-link text-white" href="/loan/list">대출추천</a></li>
		<li class="nav-item">
			<a class="nav-link text-white" th:href="@{/mypage}" sec:authorize="isAuthenticated()">마이페이지</a>
			<a class="nav-link text-white" href="#" onclick="alert('로그인이 필요한 페이지입니다.'); return false;" sec:authorize="!isAuthenticated()">마이페이지</a>
		</li>
	</ul>

	<div class="auth-buttons">
		<div class="navbar-text" sec:authorize="isAuthenticated()" th:text="${personalName + '님 환영합니다'}" 
             style="margin: auto 0px;"></div>
		<button class="btn btn-outline" sec:authorize="isAnonymous()" onclick="showModal('login')">로그인</button>
		<button class="btn btn-outline" sec:authorize="isAuthenticated()" onclick="location.href='/user/logout'">로그아웃</button>
		<button class="btn btn-primary" onclick="showModal('signup')">회원가입</button>
	</div>
</nav>